
body {
  background-image: url("../images/TheBeach.jpg");
  background-repeat:   no-repeat;
  background-size:     cover;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  font-family: 'Shadows Into Light Two', cursive;
  font-size:14px;
  font-weight:bold;
  letter-spacing:1px;
}

button {
  font-size: 15px;
  font-family: bold;
  font-family: 'Shadows Into Light Two', cursive;
  font-size:14px;
  font-weight:bold;
  letter-spacing:1px;
}

button:hover {
  background-color: orange;
}

input {
  background-color:#f5f9fa;
}

li {
   background-color:rgba(255, 255, 255, 0.2);
}

.cNoBullet {
  list-style:none;
}

.cBold {
  font-weight:bold;
}

.cTitle  {
	padding: 15px 0px 10px 0px;
  font-size:2em;
  color: orange;
  text-align: center;
}

.vacations {
  text-align: center;
  padding: 100px 0 100px 0;
  line-height: 50px;
  font-size: 15px
}
