

body {
  background-image: url("../images/TheBeach.jpg");
  background-repeat:   no-repeat;
  background-size:     cover;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  font-family: 'Shadows Into Light Two', cursive;
  font-size:14px;
  font-weight:bold;
  letter-spacing:1px;
}

button {
  font-size: 15px;
  font-family: bold;
  font-family: 'Shadows Into Light Two', cursive;
  font-size:14px;
  font-weight:bold;
  letter-spacing:1px;
}

button:hover {
  background-color: orange;
}

li {
   background-color:rgba(255, 255, 255, 0.2);
}

.cNoBullet {
  list-style:none;
}

.cBold {
  font-weight:bold;
}

h1 {
	/*padding: 0 0px 100px 0px;	*/
	/*margin-top: -20px;*/
  color: orange;
  text-align: center;
}

.vacations {
  text-align: center;
  padding: 100px 0 100px 0;
  line-height: 50px;
  font-size: 15px
}

#idShowAnswer {
  position:absolute;
  left:410px;
  top:400px;
  z-index:50;
}

#idNextQuestion {
  position:absolute;
  left:530px;
  top:400px;
  z-index:50;
}

#idCardFront {
  position:absolute;
  left:30px;
  top:100px;
  z-index:30;
}

#idCardBack {
  position:absolute;
  left:530px;
  top:100px;
  z-index:30;
}


#idCardFrontTextHost {
  position:absolute;
  left:50px;
  top:110px;
  z-index:40;
}

#idCardBackTextHost {
  position:absolute;
  left:550px;
  top:110px;
  z-index:40;
}
