<ul>
	<li class='cNoBullet' ng-repeat='vacation in vacations'>
	<span class='cBold cMatching'>Destination:</span> {{ vacation.destination }}
	<span class='cBold cMatching'>City:</span> {{ vacation.city }}
	<span class='cBold cMatching'>State:</span> {{ vacation.state }}
	<span class='cBold cMatching'>Zip:</span> {{ vacation.zip }}
	<span class='cBold cMatching'>Country:</span> {{ vacation.country }}

	  <button ng-click='showNotes(vacation)'>See Notes</button>
    <button ng-click='showVacationToModify(vacation)'>Edit</button>
    <button ng-click='deleteVacation(vacation)'>Delete</button>
		<span ng-show='notesVisible' style='  margin-top:15px'><br>NOTES:
			<span ng-repeat='note in notes'>notes = {{note}}</span>
			<button ng-click='showNotesToModify(note)'>Edit</button>
			<button ng-click='removeNote(note)'>Remove</button>
			<button ng-click='doneWithNote(note)'>Done</button>
		</span>
	</li>
</ul>
<button ng-click='showAddVacationView()'>Add Destination</button>

<form name='addForm' ng-show='showAddVacation' novalidate>
Destination: <input type="text" name='newDestination' ng-model='newVacation.destination'
  ng-minlength='2' required>
City: <input type="text" name='newCity' ng-model='newVacation.city'>
State: <input type="text" name='newState' ng-model='newVacation.state' ng-maxlength='2'>
Zip: <input type="number" name='newZip' ng-model='newVacation.zip' ng-maxlength='5'>
Country: <input type="text" name='newCountry' ng-model='newVacation.country'><br>
<button type="submit" ng-disabled="addForm.$invalid"  ng-click='addVacation()'>Save</button>
<button   ng-click='addVacationCancel()'>Cancel</button><br>
<span class='cMatching' ng-show="addForm.newDestination.$touched && addForm.newDestination.$invalid">
	The destination field is required to have two characters minimum.</span>
</form>

<form name='editForm' ng-show='showEditVacation' novalidate>
  Destination: <input type="text" name='editedDestination'
ng-model='editingVacation.destination' ng-minlength='2' required>
City: <input type="text" name='editedCity' ng-model='editingVacation.city'>
State: <input type="text" name='editedState' ng-model='editingVacation.state' ng-maxlength='2'>
Zip: <input type="number" name='editedZip' ng-model='editingVacation.zip' ng-maxlength='5'>
Country: <input type="text" name='editedCountry' ng-model='editingVacation.country'><br>
<button  ng-enabled='editForm.$valid' ng-click='updateVacationDone(editingVacation)'>Update</button>
<button ng-click='updateVacationCancel()'>Cancel</button><br>
<span class='cMatching' ng-show="addForm.editedDestination.$touched && addForm.editedDestination.$invalid">
	The destination field is required to have two characters minimum.</span>
</form>
